<div class="container">
  <h1>Welcome to Anagrams!</h1>
  <h2><%= @word %></h2>
  <% @anagrams.each do |w| %>
  <p><%= w %></p>
  <% end %>

  <form action="/sign_in" method="post">
    Type a word:
    <br>
    <input type="text" name="username">
    <input type="submit" value="Anagrams!">
  </form>
</div>



<!-- #view -->